<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <properties>
        <property name="name">app</property>
        <property name="pattern">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}  line:%L - %msg%n</property>
    </properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="C:\ALESNAX\Programming\HTP-6\QandA_Final_Project\out\artifacts\QandA_Final_Project_war_exploded\logs\${name}.log"
                     filePattern="\logs\$${date:yyyy-MM}\${name}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 KB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </root>
    </loggers>
</configuration>


